/* Estilos para archivos de test */

html {
	padding: 0;
	margin:0;
}

body {
	font-family: "Segoe UI",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.5;
	word-wrap: break-word;
	padding:0;
	margin:0;
	}

h1.test-encab {
    /* padding-bottom: .3em; */
    font-size: 1.5em;
    /* border-bottom: 1px solid hsla(210,18%,87%,1); */
	background-color: #000000;
	color:#fefefe;
	padding:10px;
	margin:0 !important;

	small {
		color:#f5f537;
		font-size:0.5em;
		display:block;
		padding-top:5px;
		font-weight: 400;
		text-transform: uppercase;
	}
}

.test-content h2 {
	margin-top: 24px;
	font-size: 1.3em;
}

h1.test-encab, .test-content h2 {
	margin-bottom: 16px;
	font-weight: 600;
	line-height: 1.25;
}

.test-description {
	/* border:1px solid #ccc; */
	/* border-radius: 5px; */
	/* background-color: #f4f4f4; */
	font-size: 1.1em;
	color: #333;
	max-width: 100%;
	overflow:auto;
	padding:20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #999;
}

code {
	padding: 0.2em 0.4em;
	margin: 0;
	font-size: 85%;
	background-color: #e6e8ea;
	border-radius: 6px;
}

.test-content {
	padding: 20px;
	padding-top: 0;

	.test-aviso {
		border: 1px solid gold;
		border-radius: 5px;
		background-color: #ffffcc;
		padding: 10px;
		color: #333;
	}

	pre.code, .pre-fake {
		background-color: #f9f9f9;
		border: 1px solid #e5e5e5;
		padding:20px;
		font-size: 0.95em;
		margin-top:20px;
		margin-bottom:20px;
		color:#555555;
		max-width: 100%;
		overflow: auto;
	}

	/* Coloreado con highlight_string() */
	.code code {
		background-color: #f9f9f9;
		padding:0;
		font-size: 1em;
		/* font-family: source-code-pro, Menlo, Monaco, "Courier New", Courier, monospace; */
	}
	pre.code a, .pre-fake a {
		font-family: "Segoe UI",Helvetica,Arial,sans-serif;
		/* background-color: #e6e8ea; */
		font-weight: bold;
	}

	pre.console {
		border: 1px solid #333;
		color: #333;
		background-color: #efefef;
	}

	pre.console .separator {
		margin:0;
		padding: 10px 0 0 0;
		margin-top:10px;
		border-top:1px solid #555;
		/* padding-top:10px" */
	}

	.foot {
		font-size: 12px;
		padding-top: 40px;
		padding-bottom: 8px;
		margin-top: 40px;
		color: #24292f;
		border-top: 1px solid hsla(210,18%,87%,1);
	}

	.cli-fake {
		font-family: Consolas;
		background:#333;
		color:#f2f2f2;
		margin:20px 0;
		padding:10px;
		white-space:pre-wrap;
		/* overflow:auto; */
	}

	/* .cli-fake p, .cli-fake h1, .cli-fake h2 {
		margin:0;
		white-space: pre-line;
		color:#ccc;
	}
	.cli-fake p {
		margin-left:20px;
	}
	.cli-fake h1, .cli-fake h2 {
		margin-top:20px;
	} */

	.cli-fake pre.code {
		color:#eee;
		margin:0 20px;
	}

	/* .cli-fake a {
		color:yellow;
	}
	.cli-fake a:visited {
		color:darkgoldenrod;
	} */

	/*.debug-item-value, .debug-item-name {
		line-height: 10px;
		font-size:14px;
		padding: 12px !important;
	}

	.box-footnote {
		line-height: 12px;
		font-size:14px;
		padding: 20px 0 !important;
		color:#ccc !important;
	}
	*/

	li {
		/* padding:15px auto !important; */
		margin-top:5px !important;
		margin-bottom:10px !important;
	}

	li a {
		text-decoration: none !important;
	}

	li a:hover {
		text-decoration: underline !important;
	}

	input[type=submit] {
		padding:5px;
		border-radius: 4px;
		min-width: 180px;
		font-weight: 400;
		border-color: #d4d4d4;
	}

	pre.code {
		td {
			padding:8px 8px 8px 0;
			border-bottom: 1px solid #ccc;
		}
		td.dump-connect {
			color: darkred;
		}
		tr:first-child td {
			padding-top: 0;
		}
		tr:last-child td {
			border:none;
			padding-bottom: 0;
		}
	}

	a, a:visited {
		color: #21618c;
	}

}

.test-back-home {
	display:block;
	font-family:Segoe UI;
	font-size:9pt;
	background:#135f9d;
	color:#fff;
	padding:10px;
	margin: 0;
	position:sticky;
	top:0;
	/* margin-top:5px; */
}

.test-repo {
	border: 1px dashed #21618c;
	background-color: #ebf5fb;
	padding: 10px;
	margin-top: 20px;
}
.test-repo svg {
	float:left;
	margin-right: 5px;
}
.test-repo h2 {
	margin:0;
	padding: 0;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	.test-content pre.code {
		/* https://css-tricks.com/responsive-data-tables/ */
		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
		}

		table {
			white-space-collapse:discard;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr, td.dump-connect {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		tr {
			border-bottom: 1px solid #ccc;
		}

		tr:last-child {
			border:none;
		}

		td {
			/* Behave  like a "row" */
			border: none !important;
			/* border-bottom: 1px solid #eee; */
			position: relative;
			/* padding-left: 50%; */
			overflow:auto;

			margin: 0;

			/* https://stackoverflow.com/a/18891915 */
			white-space: pre-wrap; /* css-3 */
			white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
			white-space: -pre-wrap; /* Opera 4-6 */
			white-space: -o-pre-wrap; /* Opera 7 */
			word-wrap: break-word; /* Internet Explorer 5.5+ */
		}
	}

}